    .pg-on-deal-1 {
        display: block;

        text-align: center;
        font-size: 13px;
        margin-bottom: 10px;
    }

    .pg-on-deal-1 a {
        color: #fab417 !important;
    }


    .pg-compare-price-1 {
        display: inline-block;
    }

    .pg-compare-price-0,
    .pg-on-deal-0 {
        display: none;
    }

    .pg-discount-percentage-1 {
        display: inline-block;
    }

    .pg-discount-percentage-0 {
        display: none;
    }


    .ais-InfiniteHits-loadMore--disabled,
    .ais-RefinementList-showMore--disabled {
        display: none;
    }

    .ais-CurrentRefinements-label {
        display: none;
    }

    .ais-ClearRefinements-button,
    .ais-RefinementList-showMore {

        color: #fab417 !important;
        border: none !important;
        background: transparent !important;
        padding: 0px !important;
        outline: none;
        text-decoration: underline;
        font-weight: bold !important;

    }

    span.h4.sidebar-title {
        margin: 15px 0px 10px 0px !important;
        font-weight: 900;
        display: block;
        margin-bottom: 15px;
        margin-top: 10px;
    }

    .ais-SearchBox-input {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding: 0px 0px 0px 25px !important;
        width: 100%;
        position: relative;
        background-color: transparent !important;
        border: none !important;
        border-radius: 5px;
        border-bottom: 1px solid #e4e4e4 !important;
        outline: none;
        font-weight: 300;
        font-size: 13px !important;
    }


    .ais-RefinementList-item {
        display: inline-block;
        margin-right: 5px;
    }


    .ais-RefinementList-label {
        white-space: nowrap;
        overflow: hidden;
        margin-bottom: 0px;
    }

    .ais-RefinementList-labelText {
        border: 1px solid #fab417;
        border-radius: 12px;
        padding: 5px 10px;
        display: inline-block;
        transition: 0.3s all;
        cursor: pointer;
        font-size: 13px !important;
        font-weight: 300;
        background-color: #fff !important;
    }

    .ais-CurrentRefinements-item {
        background-color: #fab417 !important;
        font-size: 13px !important;
        border-radius: 12px !important;
    }

    .ais-RefinementList-labelText:hover {
        background-color: #eee !important
    }


    .ais-RefinementList-label input:checked+.ais-RefinementList-labelText {
        background-color: #fab417 !important;
        color: #fff;
    }

    mark,
    .mark {
        background-color: #fab417;
    }

    .ais-RefinementList-label input {
        display: inline-block;
        margin-left: -30px;
        margin-right: 15px;
    }

    .ais-RefinementList-count {
        display: none;
    }


    .ais-InfiniteHits-loadMore {
        width: 100px;
        opacity: 0;
    }




    .ais-InfiniteHits-item,
    .ais-Hits-item {
        width: 30% !important;
        border: none !important;
        transition: 0.5s all;

        border-radius: 8px;
        background: #fff;

    }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {

    .ais-InfiniteHits-item,
    .ais-Hits-item {
        width: 45% !important;
    }

    .product-item .product-img-wrapper .product-img{
        height: auto!important;
    }
}

    .ais-InfiniteHits-item:hover {
        background: #fafafa;
    }



    .product-item .product-img-wrapper {
        background: #fff;
        border-radius: 8px;
    }

    .product-item .product-img-wrapper .product-img {
        height: 240px;
    }

    .product-item .title a {
        color: #212529 !important;
        font-weight: 300;
        font-size: 16px;
    }

    .product-item .features {
        font-size: 13px;
        font-weight: 300;
        color: #fab417;

    }

    .product-item .description {
        font-size: 13px;
        padding: 15px 0 0;
        font-style: italic;
        font-weight: 300;
        color: #777;
        margin-bottom: 0;
    }

    .product-item .manufacturer-link {
        color: #fab417;
    }

    .product-item .manufacturer-link {
        font-size: 13px;
        display: inline-block;
        margin-top: 15px;
    }

     @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
         .ais-InfiniteHits-item {
             width: 100% !important;
         }
     }

     .ais-Pagination a{
         color: $yellow;
         background-color: #fff;
         border-color: $yellow;
         padding: 0.6rem 1rem;

     }

     .ais-Pagination .ais-Pagination-item--selected a{
         background-color: $yellow;
         border-color: $yellow;
     }
