.article {
    margin-top: 70px;
}

.article h1 {
    color: $yellow;
    font-size: 50px;
}

h1 {
    color: white;
}

.article h2 {
    font-size: 28px;
    color: #595959;
    line-height: 40px;
    margin-bottom: 10px;
}

.article .article-cover {
    border: 10px solid white;
}

.article .article-content {
    padding: 0px 0px 55px 0px;
}

.best-readable p {
    line-height: 34px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    display: inline-block;
    letter-spacing: 0.3px;
    margin-bottom: 0px;
}

/*
.style-first-letter p:first-of-type:first-letter {
  font-size: 96px;
  initial-letter: 3;
  color: $yellow;
}

.article .article-content p:first-of-type:first-letter {
    font-size: 96px;
    initial-letter: 3;
    color: $yellow;
}
*/

.article-result {
    border: 10px solid white;
    margin-top: 15px;
    display: block;
    transition: 0.5s all;
}

.article-result:hover {
    text-decoration: none;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
}

.article-result h3 {
    color: $yellow;
}

.article-result .body {
    padding: 10px 10px 0px 10px;
    background: white;
}

.article-result .body p,
.article-result li {
    line-height: 20px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    display: inline-block;
    letter-spacing: 0.2px;
    color: $darkGrey;
}




p strong{
    font-weight: 600;
    color: #555;
}

a{
    color: $yellow;
}
