@import './app';
@import './article_includeable.scss';
@import './video_includeable.scss';
@import './recipe_includeable.scss';
@import './manufacturer_includeable.scss';
@import './course.scss';

.consortium h2 {
    font-weight: 900;
    color: #fab417;
    font-size: 48px;
    text-align: center;
    padding: 30px;
    background: #f7f7f7;
    margin: 30px 0px;
}

.consortium img.consortium-logo {
    height: 70px;
}

