
.background-cover{
  background-repeat: no-repeat!important;
  background-position: center !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  overflow: hidden;
}

.course-cover{
  height: 480px;
  width: 100%;
  position: relative;
}

.course-cover .background-cover-img{
  filter: blur(4px);
}

.course-cover h1{
  color: #fff;
  font-size: 64px;
  font-family: 'Montserrat',sans-serif;
  font-weight: 500;
  margin-bottom: 0.5rem !important;
  text-shadow: 0px 0px 11px rgba(0,0,0,0.55);
}

.course-cover .course-cover-content-wrapper{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;

}

.course-cover .course-cover-avatar{
  height: 120px;
  width: 120px;
  border: 6px solid $yellow;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  box-shadow: 0px 0px 12px rgba(0,0,0,0.15);
}

.course-features{
  background-color: #fff;
  margin-top: -50px;
}

.training-section h1{
  font-weight: 900;
  color: #fab417;
  font-size: 48px;
  text-align: center;
  padding: 30px;
  /*top: 140px;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1020;*/
  background: #f7f7f7;
  margin: 30px 0px;
}


.course-card h2{
  color: $yellow;
  font-weight: 900;
  margin-bottom: 0px
}

.course-card h3{
  color: $lightGrey;
  font-weight: 300;
  font-size: 22px;
}

.course-card h5{
  color: $yellow;
  margin-bottom: 5px;
}

.who-you-will-learn-with-section{
  padding: 40px 0px
}

.who-you-will-learn-with-section h1{
  color: #fff;
  font-weight: 800;
  font-size: 36px;
}

.who-you-will-learn-with-section h2{
  color: #fff;
  font-weight: 800;
  font-size: 18px;
}

.who-you-will-learn-with-section p{
  color: #fff;
}

.who-you-will-learn-with-section .big-avatar{
  border-radius: 50%;
  border: 8px solid white;
  overflow: hidden;
  box-sizing: 0px 0px 12px rgba(0,0,0,0.15);
  display: inline-block;
}

.enrollment-options h1{


  font-weight: 900;
  color: $yellow;
  font-size: 48px;
  text-align: center;
  padding: 30px;

  margin: 30px 0px;
}

.enrollment-option .option-price{
  font-weight: 900;
  font-size: 48px;
  /*text-decoration: line-through;*/
}

.enrollment-option h3{
  font-weight: 900;
  font-size: 18px;
  margin: 15px 0px;
}

.enrollment-option ul{
  margin: 15px 0px;
  padding: 0px;
}

.enrollment-option ul li{
  /*list-style-image: url('check.png');*/
  list-style: none;
  margin-bottom: 5px;
}

.training{
  color: $darkGrey;
  transition: 0.5s all;
  background: #fff;

  border-radius: 8px;
  overflow: hidden;
  display: block;
}

.training .training-body{
  padding: 15px;

}

.training:hover{
  text-decoration: none;
  box-shadow: 0px 0px 12px rgba(0,0,0,0.15);
  color: $lightGrey;
}

.traning-professor{
    color: white;
}
