@import './app';

.event-images{}
.event-images img{
  height: 180px;
}


.event-feature{
  color: $lightGrey;
  padding: 4px 8px;
  font-size: 16px;
  border: 1px solid $lightGrey;
  border-radius: 6px;
  display: inline-block;
  padding: 10px 25px;
  margin-right: 15px;
  box-shadow: 0px 0px 12px rgba(0,0,0,0.1);
  background: #fff;
}

.event-custom-icons{
    color: #6c757d;
}

.event-custom-icons img{
    filter: invert(46%) sepia(19%) saturate(217%) hue-rotate(166deg) brightness(94%) contrast(87%);
}

body{
    background-color: #f7f7f7;
}
