//@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,900;1,700&display=swap');

@import './app';



.home-banner .slide .video-slide {

    background-color: #000;
    position: relative;
}


.home-banner.loading .video-background {

    opacity: 0;

}

.filippo-pan-info {}

.filippo-pan-info h2 {
    color: #fff;
    font-weight: 700;
    font-size: 48px;
    margin-top: 40px;
}

.filippo-pan-info span {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
}

.filippo-pan-info img.filippo-signature {
    width: 320px;
}

.h2-subtitle{
    line-height: 45px;
    font-size: 35px;
    color: #595959;
}


.video-background {

    position: absolute;
    left: 0;
    width: 100%;

    height: 100%;
    transition: 2s all;
    opacity: 1;
}


.video-foreground,

.video-background iframe {
    top: 0;
    left: 0;
    pointer-events: none;
}


.homepage-video-cover {
    height: 85vh;
    position: relative;
    display: block;
}

h2{
    font-size: 36px;
    font-weight: 700;
}

.videos-container h3{
    font-size: 20px;
    font-weight: 600;
}
