.manufacturer h2, .manufacturer .h2 {
    font-weight: 900;
    color: #fab417;
    font-size: 48px;
    text-align: center;
    padding: 30px;
    background: #f7f7f7;
    margin: 30px 0px;
}

.manufacturer img.consortium-logo {
    height: 70px;
}

.easy-readable {
    line-height: 20px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    display: inline-block;
    letter-spacing: 0.3px;
    color: #212529;
}


.feature-icon {
    height: 50px;
    filter: invert(87%) sepia(20%) saturate(6220%) hue-rotate(346deg) brightness(100%) contrast(97%);
}
