/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

    //CSS

}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

    //CSS

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

    //CSS

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    //CSS

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

    //CSS

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

    //CSS
    .product img.img-fluid{
        height: 180px!important;
        width: auto;
        display: inline-block;
    }

    .navbar-search{
        width: 100%!important;
        margin-left: 0px!important;
    }

    .product .product-description-short{
        height: 100px;
         overflow: hidden;
         text-overflow: ellipsis;
    }

    .product .product-name{
        line-height: 18px;
    }

    .recipe .recipe-heading{
        height: auto!important;
    }

    .recipe .recipe-body{
        margin-bottom: 0px;
        padding: 0px;
    }

    .recipe .recipe-body .recipe-title{
        margin: 0px;
    }

    .new-curry.overview{
        display: none;
    }

    .traning-professor{
        color: $lightGrey;
    }

    #what_you_will_learn{

    }

    #what_you_will_learn .card{
        text-align: center!important;
    }

    .twh-event{
        margin-top: 20px;
    }

}
