@import 'app';
@import 'algolia';

.product{
  /*background-color: #fff;*/
  padding: 15px;
  border-radius: 12px;
  max-width: 480px;
  display: block;
  color: $darkGrey;
  margin-bottom: 15px;
  transition: 0.5s all;
}

.product:hover{
    background-color: #fff;
}

.product:hover{
  color: $lightGrey;
  text-decoration: none;
}

.product .product-name{

}

.product .product-name{
  color: $darkGrey;
  font-weight: bold;
}

.product .product-description-short{
  font-size: 13px;
  padding: 15px 0px 0px 0px;
  font-style: italic;
  font-weight: 300;
  color: #777;
  margin-bottom: 0px;
}

.product .product-name{
}

.product .product-name{
}

.product .product-prices{
    margin: 10px 0px;
}

.product .product-prices .product-price{
    display: inline-block;
    font-size: 18px;

}

.product .product-prices .product-price_compare {
    display: inline-block;
    margin-left: 10px;
    columns: $lightGrey;
    font-size: 12px;
    text-decoration: line-through;
}


.product-page h2 a.manufacturer-link{
  font-size: 24px;
  color: $yellow;
  border: 1px solid $yellow;
  border-radius: 6px;
  padding: 6px 10px;
  margin-bottom: 15px;
  display: inline-block;

}

.product-page{

}

.product-page h1{
  color: $yellow;
  font-weight: 700;
  border-bottom: 1px solid #ececec;
  padding-bottom: 10px;
}


.product-page h2{
  color: $lightGrey;
  font-weight: 300;
  font-size: 16px;
  margin-top: 15px;
}

.product-page h3{
  font-weight: 700;
  color: $lightGrey;
  font-size: 25px;
  border-bottom: 1px solid #ececec;
  margin-top: 15px;
  padding-bottom: 10px;
  margin: 40px 0px 10px 0px;
}

.product-page .product-feature{
  padding: 15px;
  text-align: center;
  border-radius: 12px;
  border: 1px solid $yellow;
}

.product-page .product-feature .feature-label{
  font-weight: bold;
  font-size: 18px;
  color: $yellow;
  padding-bottom: 0px;
  border-bottom: 1px solid #ececec;
  margin-bottom: 2px;
  display: block;
}

.product-page .product-feature img{
  filter: invert(30%) sepia(9%) saturate(4%) hue-rotate(128deg) brightness(101%) contrast(87%);
}

.product-page .product-feature .feature-value{
  font-size: 16px;
  color: $lightGrey;
  display: block;
}

.product-page .product-prices{
    margin-top: 15px;
    margin-bottom: 10px;
}

.product-page .product-prices .product-price{
     font-weight: bold;

     font-size: 24px;

}

.product-page .product-prices .product-price_compare {
    font-weight: bold;
    text-decoration: line-through;
    font-size: 20px;
    color: $lightGrey;
}
