.review-score-stars {}

.review-score-stars li {
    font-size: 20px;
}

.section.heart {
    padding: 40px 0;
}

.recipes-slider {
    padding: 50px 0;
}

.recipes-inner h2 {
    font-size: 24px;
    line-height: 72px;
    font-weight: bold;
}

.recipes-inner ul {
    list-style: none;
}

.recipes-inner ul li {
    display: inline-block;
    font-size: 19px;
    line-height: 25px;
    color: #595959;
}

.recipes-inner a {
    display: inline-block;
    margin-left: 30px;
    color: #fff;
    background: #fab417;
    padding: 6px 40px;
    border-radius: 22px;
}

.recipes-inner ul.start {
    float: left;
}

.col-12.col-lg-12.remove-padding {
    padding-left: 0;
    padding-right: 0px;
}

ul.min li img {
    display: inline-block;
    vertical-align: baseline;
}


.recipes-slider {
    overflow: hidden;
    margin-right: 15px;
}

.recipes-inner>img {
    border-radius: 15px;
}

section#fruit-item button {
    display: none !important;
}

.watch-btn {
    text-align: center;
}

.watch-btn a {
    color: #fab417;
    border: 1px solid #fab417;
    padding: 10px 40px;
    font-size: 22px;
}

.garlic img {
    width: 100%;
}

.most-watch-main-div.garlic {
    background: #fff;
}

.garlic .main-text h1 {
    font-size: 25px;
    line-height: 42px;
    color: #595959;
}

.garlic .most-watch-right h1 {
    font-size: 19px;
    line-height: 100%;
    color: #fab417;
    margin: 0;
    padding: 0px !important;
}

.garlic .most-watch-right ul li {

    padding-right: 0;
}

.garlic ul.start {
    padding-left: 15px;
}

.garlic .most-watch-right h2 {
    margin: 0;
}

.garlic .most-watch-left img {
    height: 100%;
    object-fit: cover;
}

.garlic .main-text h1 {
    padding: 50px 0 0px;
}

.garlic .news p {
    color: #595959;
    font-size: 15px;
    padding-top: 20px;
}

.garlic .news p a {
    color: #fab417;
    font-weight: bold;
    font-size: 18px;
}

.garlic {
    position: relative;
}

.news-text {
    position: absolute;
    top: 0;
    right: 50px;
}

.news-text p {
    background: #FAB417;
    padding: 10px 30px;
    color: #fff;
    font-size: 25px;
    line-height: 25px;
}


.watch-more a {
    display: inline-block;
    color: #FAB417;
    border: 1px solid #FAB417;
    margin-top: 50px;
}

label.label-text {
    position: absolute;
    top: 0;

}

.button a {
    border: 1px solid #FAB417;
    width: 100%;
    padding: 15px 0;
    color: #FAB417;
}

.row.new-align {
    align-items: center;
}

.address h1 {
    font-size: 20px;
    line-height: 41px;
    color: #000000;
    font-weight: 600;
}



.social ul li {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.overview-inner nav ul li.active a {
    color: #fab417 !important;
}

.overview-inner nav ul li a {
    color: #fab417 !important;
}

.overview-inner .collapse.navbar-collapse ul {
    text-align: center;
    margin: 0 auto;
}

.overview {
    box-shadow: 0px 0px 20px #efefef inset;
}

.overview-inner ul li.active a {
    position: relative;
}

.overview-inner ul li.active {
    border-bottom: 5px solid $yellow;
}

.overview-inner ul li {
    margin-right: 20px;
}

.marvellous {

    padding: 50px 0;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.secrets img {
    width: 100px;
}

.secrets p,
.secrets h3 {
    color: #fff;
}

.calander-inner-date {
    background: #fab417;
    width: 20%;
    float: right;
    display: flex;
    -webkit-display: flex;
    -moz-display: flex;
    -o-display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 15px 0
}

.calander-date {
    width: 20%;
    max-width: 20%;
    flex: 0 0 20%;
}

.calander-inner-date-inner {
    width: 80%;
    flex: 0 0 80%;
    max-width: 80%;
}

.calander-inner-date-inner ul li {
    list-style: none;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
}

.calander-date img {
    width: 100%;
}

.calander-inner-date-inner ul {
    padding-left: 20px;
}

.calander-inner-date-inner ul li.new-date {

    font-size: 24px;
    font-weight: bold;

}

.hours-video-inner {
    width: 25%;
    max-width: 25%;
    display: inline-block;
}

.calander-inner {
    position: relative;
    margin-top: -40px;
}

.calander-inner-date {
    position: absolute;
    top: -90px;
    right: 0;
}

.hours-video {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
}

.hours-video ul {
    padding: 0px;
    width: 100%;
    list-style: none;
}



.hours-video ul li b {
    font-size: 40px;
    color: #FAB417;
}



.hours-video-inner img {

    height: 30px;
    margin-top: -15px;
}


.hours-video {
    padding: 0px 20px;

    padding-top: 10px;
}

.hours-video .hours-video-inner {
    border-right: 1px solid #c6c6c6;

}

.hours-video .hours-video-inner:last-child {
    border-right: none;
}

.button.enroll {
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
}

.button.enroll a {
    padding: 20px 30px;
}

.new-heading h1 {
    line-height: 49px;
    font-size: 56px;
    color: #fab417;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

.learn {
    padding: 30px 0;
}

.fundamentals ul li {
    list-style: none;
    display: inline-block;
    vertical-align: middle;
}

.fundamentals ul li:first-child {
    width: 7%;
    display: inline-block;
}

.fundamentals ul li img {
    width: 100%;
}

.fundamentals ul li:last-child {
    width: 85%;
    padding-left: 15px;
}

.fundamentals {
    padding: 20px 20px 10px;
    box-shadow: 0px 0px 10px 8px #f6f6f6;
    margin-bottom: 30px;
}

.course-for p {
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
}

.syllabous-inner h1 {
    font-size: 25px;
    font-weight: bold;
}

.syllabous-inner h2 {
    font-size: 20px;
}

.syllabous-inner {
    position: relative;
}


.syllabous-inner {
    text-align: right;
    padding-right: 40px;
}

.line {
    position: relative;
}

.line:after {
    content: "";
    height: 675px;
    width: 35px;
    position: absolute;
    background-size: contain;
    top: 0;
}

.syllabous-inner:last-child {
    padding-top: 560px;
}

.graps h1 {
    font-size: 20px;
    color: #fab417;
    font-weight: bold;
}

.graps p {
    color: #696969;
}

.graps ul li img {
    width: 19px;
    margin-right: 10px;
}

.graps ul li {
    display: inline-block;
}

.graps {
    box-shadow: 0px 0px 10px 10px #f9f9f9;
    padding: 10px 20px;
    position: relative;
}

.discover-text h3 {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
}

.pizza .receips-left img {
    width: 100%;
    height: 180px;
    max-height: 100%;
    object-fit: inherit;
}

.main-text.right-section.new>h1 {
    text-align: right;
}

.new .most-watch {
    padding-left: 16%;
}

.new .most-watch-left img {
    height: 100%;
    object-fit: cover;
}

section.video .watch-more a {
    color: #fff;
}

section.video .watch-more a {
    border: 1px solid #fff;

}

.new .watch-more {
    padding-left: 16%;
}

/********* checkbox: **************/

.graps-line p a {
    color: #000;
    border: 1px solid #fab417;
    border-radius: 15px;
    padding: 15px 30px;
    overflow: hidden;
    z-index: 1111;
    background: #fff;

}

.graps-line img {
    padding-left: 100px;
}

.graps-line-main-div {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
}

.graps-line-main-div .graps {
    margin-top: 50px;
}

.graps-line-main-div .graps1 {
    width: 65%;
    flex: 0 0 65%;
    max-width: 65%;
    height: 100% !important;
}

.graps-line-main-div .graps-line {
    width: 35%;
    max-width: 35%;
    flex: 0 0 35%;
    height: 430px;
}

.graps-line img {
    height: 100%;
}

.graps p a {
    color: #fab417;
}

.graps:before {
    content: "";
    border-width: 20px;
    position: absolute;
    width: 40px;
    border-style: solid;
    border-color: transparent;
    border-right-color: #FFF;
    left: -40px;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0px 0px 10px #fff;
}

.discover-images img {
    width: auto;
}


section.Syllabus {
    padding: 50px 0;
}

section.discover.new-learn h4 {
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    font-weight: bold;
}

section.discover.new-learn p {
    color: #fff;
    max-width: 300px;
}

section.discover.new-learn .discover-text {
    text-align: left;
}

.option {
    text-align: center;
}

.option h1 {
    color: #FAB417;
    font-weight: bold;
    font-size: 70px;
}

.option h5 {
    font-size: 15px;
    position: relative;
    padding-bottom: 15px;
}

.option h5:before {
    content: "";
    width: 50%;
    height: 1px;
    background: #000;
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
}

.option p {
    padding-top: 15px;
    color: #FAB417;
    font-size: 17px;
    font-weight: bold;

}

.option ul {
    list-style: none;
}

.option ul li img {
    width: 19px;
}

.option p a {
    color: #fab417;
    border: 1px solid #fab417;
    padding: 10px;
    width: 80%;
    display: inline-block;
}

.option {
    box-shadow: 0px 0px 3px 6px #f3f3f3;
    padding: 10px;
    transition: all 0.5s ease-in-out
}

section.Enrollment {
    padding: 80px 0;
}

.option:hover {
    box-shadow: 0px 0px 4px 7px #fab417;
}

.new-curry {
    position: fixed;
    width: 100%;
    top: 70px;
    left: 0px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.95);
}

#overview {}

.curry-right img {
    width: 100%;
}

.curry-right {
    position: relative;
    border-radius: 16px;
    overflow: hidden;
}


.curry-play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -75px;
    margin-top: -75px;
    width: 150px;
    display: block;
}

.curry-play-btn img {
    width: 150px;
}

.curry-left h1 {
    font-size: 54px;
    line-height: 65px;
    font-weight: bold;
    color: #595959;
    margin-bottom: 15px;
}

.curry-left h2 {
    font-size: 24px;
    line-height: 40px;
    font-weight: 300;
    color: #595959;
}


.curry-left ul li {
    display: inline-block;
    list-style: none;
    color: $yellow;
}

.curry-left ul li img {
    width: 15px;
}

.curry-left ul {
    padding: 0px;
}

.delicious ul li {
    width: 15%;
    vertical-align: top;
}

.delicious ul li:nth-child(2) {
    width: 50%;
}

.delicious-inner ul li {
    font-size: 18px;
}

.delicious-inner ul li:last-child {
    text-align: right;
}

.delicious-inner p.new-color {
    color: #FAB417;
    font-weight: bold;
}

.delicious-inner p a {
    color: #FAB417;
}

.delicious-inner ul li img {
    width: 50px;
}


section.curry {
    padding: 20px 0 20px 0px;
    margin-bottom: 20px;
}

.download.calander-inner {
    margin: 0;
}


.download .hours-video ul li:last-child {
    /*
    font-size: 16px;
    margin-top: 10px;
    line-height: 20px;
    */
}

.download .hours-video ul li {
    display: block;
    font-size: 20px;
    color: #696969;
    line-height: 28px;
    text-align: center;
}

.transfer-inner-left div.more-text {
    font-size: 28px;
    line-height: 42px;
    font-weight: normal;
    color: #696969;
}

.new-color {
    color: #FAB417;
}

.ingredients-section-inner h2 {
    color: #FAB417;
    font-weight: bold;
    font-size: 38px;
}

.ingredients-section-inner h2 img {
    width: 45px;
}

.ingredients-section-inner h3 {
    color: #FAB417;
    font-size: 20px;
    padding-top: 15px;
}

.ingredients-section-inner h4 {
    color: $veryLightGrey;
    font-size: 18px;
}

.ingredients {
    background: #f7f7f7;
    padding: 20px 0;
}

.ingredients-section-inner-left ul {
    list-style: none;
}

.ingredients-section-inner-left ul li img {
    width: 22px;
    margin-right: 10px;
}

.ingredients-section-inner-left ul li {
    color: #8c8c8c;
    padding-bottom: 15px;
    font-size: 20px;
}

.ingredients-section-inner-left ul li span.new-color {
    font-weight: bold;
}

.ingredients-btn a {
    color: #fab417;
    border: 1px solid #fab417;
    padding: 20px 20px;
}

.ingredients-section-inner-left h3 {
    color: #fab417;
    font-weight: bold;
}

.ingredients-section-inner-left p a {
    color: #fab417;
    font-size: 23px;
    line-height: 30px;
}

.ingredients-section-inner-left-inner {
    display: flex;
    align-items: center;
}

.ingredients-section-inner-left-inner .ingredients-section-inner-left {
    width: 70%;
    max-width: 70%;
    flex: 0 0 70%;
}

.ingredients-section-inner-left-inner .ingredients-section-inner-right {
    width: 30%;
    max-width: 30%;
    flex: 0 0 30%;
}

.ingredients-section-inner-left-inner .ingredients-section-inner-right img {
    width: 100px;
}

.Filippo.Bartolotta-inner {
    text-align: center;
}

.Filippo.Bartolotta-inner p {
    font-size: 20px;
}

.Filippo.Bartolotta-inner p span.new-color {
    font-weight: bold;
    font-size: 24px;
}

.Filippo.Bartolotta-inner p img {
    display: inline-block;
}

.ingredients-section-inner-right ul li {
    list-style: none;

}

.ingredients-section-inner-right button {
    top: 50%;
    position: absolute;
    list-style: none;

    width: 50px;
    height: 50px;
    object-fit: cover;
    box-shadow: none;
    border: none;
    color: transparent;
    background-repeat: no-repeat;
}

section.ingredients-section {
    padding: 50px 0 0;
}

.ingredients-section-inner h1 span.new-design {
    font-size: 19px;
    padding-left: 40px;
    border: 1px solid;
    display: inline-block;
    padding: 10px 21px;
    margin-left: 20px;
}

.ingredients-section-inner h1 span.new-design img {
    width: 30px;
}

.transfer {
    display: flex;
    -webkit-display: flex;
    -moz-display: flex;
    -o-display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
}

.transfer .transfer-inner-left {
    width: 100%;
    max-width: 100%;
    flex: 0 0 100%;
}

.transfer .transfer-inner-left strong {
    line-height: 42px !important;
}

.transfer .transfer-inner-right {
    width: 50%;
    flex: 0 0 50%;
    max-width: 50%;

    border-radius: 12px;
    overflow: hidden;
}

.transfer-inner-right img {}

.step>p {
    font-size: 23px;
    line-height: 28px;
    text-align: center;
}

.step p b {
    font-size: 140px;
    font-weight: bold;
    color: #fab417;
    line-height: 90px;
}

.transfer-inner-left p {
    font-size: 20px;
    line-height: 33px;
}

.transfer-inner-left p.more-text {
    font-size: 28px;
    line-height: 42px;
    font-weight: normal;
    color: #696969;
}

p.btn {
    text-align: center;
    width: 100%;
}

p.btn a {
    display: inline-block;
    border: 1px solid #FAB417;
    width: 100%;
    color: #FAB417;
    padding: 10px 0;
    margin-top: 20px;
}

.new-border {
    border: 1px solid #FAB417;
    background: #f7f7f7;
}

.wine-inner-right p {
    padding-left: 35px;
}

.wine-inner-right p:nth-child(2) {
    padding-left: 0;
}

.wine-text-right h1 {
    font-size: 20px;
    line-height: 24px;
    color: #fab417;
}

.wine-text-right p {
    font-size: 14px;
    line-height: 20px;
    color: #8e8e8e;
}

.top-brdr {
    border-top: 2px solid #fab417;
}

.wine-inner-left {
    padding-left: 15px;
}

section.wine {
    padding: 40px 0;
}

.wine-inner-left,
.wine-inner-right {
    padding-top: 25px;
}

.wine-text-left-main {
    display: block;
    justify-content: space-between;
}

.wine-text-left {
    max-width: 40%;
    flex: 0 0 40%;
    width: 40%;
}

.wine-text-right {
    width: 60%;
    max-width: 60%;
    flex: 0 0 60%;
    margin-left: 10px;
}

.wine-text-right img {
    width: 100%;
}

.rem-pad {
    padding: 0;
}

section.wine-text p.btn {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

section.discover.world {
    padding: 0;
}

.paired-wines {
    margin: 30px 0px;
}

.paired-wine {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    width: 480px;
}

.paired-wine h1 {
    color: $yellow;
    font-size: 20px;
}

.paired-wine p {
    font-size: 15px;
    line-height: 20px;
}

section.wine-text {
    margin-top: 25px;
}


.recipe-step-photo {
    height: 200px;
    width: 300px;
    overflow: hidden;
    border-radius: 12px;
    margin-right: 15px;
    margin-bottom: 15px;
    display: inline-block;
}

.recipe-step-photo img {
    height: 100%;
}
