body{
  font-family: 'Montserrat',sans-serif!important;
  color: #595959;
  padding-top: 70px!important;
}

.btn{
    border-radius: 45px!important;
}

input{
  border-radius: 0px!important;
}

.logo-pay-off{
  font-size: 10px;
  display: block;
  text-align: right;
  color: #999;
}

.navbar-search{
  width: 35%!important;
  margin-left: 30px;
}

.navbar-search input[type="search"]{
  padding-left: 50px;
  width: 100%!important;
  height: 50px;
  font-size: 14px;
  background:url('navbar-search-lens.png') 10px 8px no-repeat;
  border-radius: 45px !important;
  border: 3px solid #ffc107 !important;
}

.training-user-avatar{
    width: 100%;
    border: 12px solid white;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: block;
    margin-top: -120px;
}




.navbar-main{
  box-shadow: 0px 0px 7px rgba(0,0,0,0.15)
}

.dropdown-toggle::after{
  color: #fab417;
}

.nav-item{

}
.nav-item a{
  font-weight: bold;
}

.btn{
  border-radius: 0px;
}

.homepage-video-cover{
  position: relative;
}
.homepage-video-cover-overlay{
  position: absolute;
  top:0px;
  left:0px;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.45);
  display: flex;
}

.homepage-video-cover-overlay h1{
  color: #fff;
  font-family: 'Montserrat',sans-serif;
  font-weight: 500;
  font-size: 64px;
}


.owl-carousel{
    display: none;
}

.owl-carousel .owl-stage{

}

.logos-owl-carousel img{
  height: 80px;
  width: auto!important;
  filter: grayscale(100%);

}



.filippo-pan{
  height: auto;
  max-width: 100%;
  margin-top: -35px;
}



.numbers-section{
  text-align: center;
}

.numbers-section h1{

  font-size: 48px;
  font-weight: 700;
  color: #595959;
  margin: 60px 0px 15px 0px;
}

.twh-number{
  overflow: hidden;
  border-radius: 12px;
  margin-top: 25px;
  box-shadow: 0px 0px 12px rgba(0,0,0,0.1);
  background: white;
  display: block;
  transition: 0.3s all;
  color: $darkGrey;
}

.twh-number:hover{
  box-shadow: 0px 0px 20px rgba(0,0,0,0.4);
  text-decoration: none;
  color: $lightGrey;
}

.twh-number .img-col{
  overflow: hidden;
}

.twh-number span{
  display: block;
}

.twh-number-name{
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 20px;
}
.twh-number-quantity{
  font-size: 48px;
  line-height: 30px;
  font-family: 'Montserrat',sans-serif;
  font-weight: 700;
}
.twh-number-description{
  font-weight: 300;
  font-size: 15px;
  margin-top: 15px;
}
.twh-number-frequency{
  font-size: 13px;
  border-radius: 16px;
  margin-top: 10px;
  display: inline-block!important;
  padding: 2px 10px;
  font-weight: 300;
  border: 2px solid #ffc107!important;
}

.event-section{

}
.event-section h1{
  color: #fff;
  font-weight: 700;
  font-size: 48px;
}

.event-section p{
  color: #fff;
  font-weight: 300;
}

.event-section .time-options{
  margin-top: 50px;
}


.event-section .time-options li{
  color: #fff;
  padding: 10px 15px;
  border-radius: 8px;
  font-weight: 700
}

.event-section .time-options li.active{
  border: 1px solid #fff;
}

.twh-event{
  display: block;
  margin-bottom: 35px;
  padding: 15px;
  transition: 0.5s all;
  border-radius: 6px;
  color: $darkGrey;
}

.twh-event:hover{
    text-decoration: none;
    background-color: #fff;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.15);
    color: $darkGrey;
}

.twh-event-date h2{
  font-size: 48px;
  font-family: 'Montserrat',sans-serif;
  font-weight: 700;
  margin: 10px 0px 40px 0px;
}

.twh-event img{
  border-radius: 12px!important;
  overflow: hidden;
  margin-bottom: 20px;
}

.twh-event .event-title{
  display: block;
  font-weight: 700;
  font-size: 18px;
}

.twh-event .event-description{
  display: block;
  font-weight: 300;
}

.twh-event .event-description{

}

.twh-event .event-spech{
  font-weight: 700;
  margin: 8px 0px;
}

.section-video-wrapper{
  background: #000;
  /*margin-top: 40px;*/
}

.section-video{
  position: relative;
}

.section-video-overlay{
  position: absolute;
  top: 0px;
  left: 0px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */

  height: 100%;
  width: 100%;
  display: flex;
}


.section-video-footer{
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.section-video-wrapper h1{
  color: #fff;
  font-size: 48px;
  font-weight: 700;
  margin: 0px;
}
.section-video-wrapper h2{
  color: #fff;
  margin: 25px 0px;
}

.section-video-wrapper h1.small{
  font-size: 36px;
  margin: 25px 0px
}


.most-watched-videos{
  display: block;
}

.most-watched-videos .most-watched-video{
  margin-bottom: 25px;
  display: block;
}

.most-watched-videos .most-watched-video:hover{
  text-decoration: none;
}

.most-watched-videos .most-watched-video .video-title{
  color: #fff;
}

.most-watched-videos .most-watched-video .video-description{
  color: #fff;
}

.most-watched-videos .most-watched-video .video-info{
  color: #737579;
}

.most-watched-videos .most-watched-video .video-stars{
  color: #e0a800;
}

.btn.btn-round{
  border-radius: 12px !important;
}


.recipes-owl-carousel{

}

.recipe img{
  height: auto;
}

.owl-carousel .owl-item img{
    /*max-width: 100%!important;*/
}

.recipe{
  color: $darkGrey;
  transition: 0.5s all;
  border-radius: 12px;
  display: block;
  margin-bottom: 25px;
  overflow: hidden;
  width: 320px;
  max-width: 320px;
}
.recipe:hover{
  text-decoration: none;
  color: $lightGrey;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
}
.recipe-heading{
  height: 200px;
  overflow: hidden;
}

.recipe-heading img{
    width: 100%;
}

.recipe-body{
  margin-bottom: 25px;
  padding: 15px;
}
.recipe-title{
  font-weight: 700;
  display: block;
  text-align: left;
  margin: 5px 0px;
}

.recipe-info{
  font-size: 14px;
  font-weight: 300;
  display: block;
  text-align: left;
  margin-bottom: 5px;
}

.recipe-stars{
  text-align: left;
  display: block;
  color: #ffc107;
}

.recipes-section{
  margin-top: 40px;
}
.recipes-section h1{

  font-size: 48px;
  font-weight: 700;
  color: #595959;
  margin: 60px 0px 15px 0px;
}

.recipes-section h1 i{
  color: #e0a800;
}

.recipes-section p{
  font-weight: 300;

}

.ingredients-list{
  margin: 30px 0px 40px 0px;;
}

.articles-list .article{
  margin-top: 15px;
}

.article{
  margin-bottom: 10px;
  color: $darkGrey;
  display: block;
}

.article:hover{
  text-decoration: none;
  color: $lightGrey;
}

.article-title{
  display: block;
  font-weight: 700;
  font-size: 15px;

}

.article-img{
  height: 90px;
  width: 100%;
  overflow: hidden;
  border-radius: 12px;
}


.article-img img{
  height: 100%;
}

.article-brief{
  display: block;
  font-size: 14px;
}

.article-info{
  display: block;
  font-size: 14px;
  font-weight: 300;
}

.article-stars{
  color: #ffc107;
}

.blog-section{
  margin-top: 60px;
}

.blog-section h1{
  font-size: 48px;
  font-weight: 700;
  color: #595959;
  margin: 60px 0px 15px 0px;
  text-align: center;
}

.blog-section p{
  font-weight: 300;
  text-align: center;
  margin-bottom: 80px;
}

.main-article{
  display: block;
  text-decoration: none;
  color: #212529;
}

.main-article:hover{
  text-decoration: none;
  color: #595959;
}

.main-article img{
  border: 2px solid #ffc107;
  margin-bottom: 20px;

}

.main-article .main-article-brief{
  text-align: left!important;
  margin-bottom: 30px;
}

.read-more{
  color: $yellow;
}

.text-yellow{
    color: $yellow;
}


.footer{
  margin-top: 60px;
//  background: url('footer-background.png') no-repeat center center fixed;
background: #555;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.footer input{
  border: none;
  border-radius: 6px!important;
  box-shadow: 0px 4px 3px rgba(0,0,0,0.15);
  height: 50px;
}

.footer h1{
  font-size: 18px;
  font-weight: 700;
  color: #999;
  margin-bottom: 15px;
  text-align: center;
}

.footer h2{
  font-size: 16px;
  margin-bottom: 25px;
  text-align: center;
}

.footer .logo{
  margin-bottom: 40px;
}

.footer-content{
  padding-top: 60px;
}

.newsletter-subscription{
  background: #ececec;
  padding: 15px;
  margin: 0px 0px 60px 0px;
  border-radius: 6px;
}

.newsletter-subscription iframe{
    max-width: 100%;
}

.newsletter-subscription iframe html{
    background-color: #ececec;
}

.footer a{
  color: #333;
}

.footer li{
  font-size: 14px;
  margin-bottom: 10px;
}

.footer .social-link{
  display: inline-block;
  height: 40px;
  width: 40px;
  padding-top: 10px;
  text-align: center;
  color: #fff;
  margin-right: 10px;
}

.social-link-facebook{
  background-color: #537cbe
}

.social-link-pinterest{
  background-color: #ea5655;
}

.social-link-twitter{
  background-color: #77cdf0;
}

.social-link-instagram{
  background-color: #69696b;
}

.social-link-youtube {
    background-color: #F61601;
}

.page-title{
  padding: 20px;
  font-size: 48px;
  color: $yellow;
  text-align: center;

}

.sticky-index{
  font-size: 34px;
  color: $yellow;
  display: block;
  top: 90px!important;
  padding-left: 15px;
  margin-left: -15px;
  border-bottom: 6px solid $yellow;

}


.round-corners-12{
  border-radius: 12px;
}

.avatar{
  border-radius: 50%;
  height: 40px;
  width: 40px;
  text-align: center;
  overflow: hidden;
  display: inline-block;
  line-height: 41px;
}

.avatar-letter{
  height: 100%;
  width: 100%;
  color: #fff;
  text-align: center;
  display: inline-block;
  font-size: 25px;
  background: $yellow;
}

.favorite-toggler{
  margin-top: 5px;
  display: inline-block;

}


.features-list{

}

.features-list i{
    color: $yellow;
}

.features-list h3{
    font-size: 1.3rem;
    margin-top: 10px;
}

.form-control-stripe {
    background: #fff;
    height: 38px;
    padding: 10px;
    border: 1px solid #ced4da
}

.purchase-content-box {
    padding: 30px;
    border: 8px solid $yellow;
    box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.2);
    margin: 50px 0px;
    border-radius: 12px;
}

.navbar-light .navbar-nav .show>.nav-link,
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active{
    color: $yellow!important;
}

.homepage-experts-section{
  background-color: #000;
  padding: 40px 0px;
  text-align: center;
}

.homepage-experts-section h1{
  color:#fff;
  font-size: 48px;
  font-weight: 700;

  margin: 60px 0px 15px 0px;
}


.homepage-experts-section .expert{
    height: 420px;

    display: inline-block;
    overflow: hidden;
    border-radius: 8px;
    position: relative;
    margin-bottom: 20px;
    transition: 0.3s all;
}

.homepage-experts-section .expert:hover{
    width: 240px!important;
}

.homepage-experts-section .expert .expert-info{
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 15px;
    text-align: left;
    white-space: normal;

}

.homepage-experts-section .expert .expert-info .btn{
    display: none;
}

.homepage-experts-section .expert:hover .expert-info .btn {
    display: inline-block;
}

.homepage-experts-section .expert .expert-info .expert-name{
    color: #fff;
    font-size: 24px;
    line-height: 30px;
    font-weight: 900;
    text-shadow: 2px 2px 7px rgba(0, 0, 8, 0.55);
}

.homepage-experts-section .expert img{
    height: 100%;
    width: auto;
    max-width: auto!important;
     -webkit-filter: grayscale(100%);
     /* Safari 6.0 - 9.0 */
     filter: grayscale(100%);
     transition: 0.5s all;
}


.homepage-experts-section .expert:hover img {
         -webkit-filter: grayscale(0%);
         /* Safari 6.0 - 9.0 */
         filter: grayscale(0%);
}


.carousel-stripe{
    width: 100vw!important;
    overflow: hidden!important;
}

.carousel-stripe img{
    height: 240px !important;
    width: auto !important;
}


.manufacturer-custom-blocks .card-body img {
    max-width: 100%;
    height: auto!important;
}

.grid-filter-top-sticky{
    position: sticky;
    top: 72px;
    z-index: 1020;
    background-color: #f7f7f7;
}


.cc_dialog.simple{
    max-width: 100%!important;
    padding: 10px!important;
}

.light.cc_dialog button.cc_b_ok{
    width: 100%;
}

.cc_dialog .cc_dialog_headline{
    font-size: 14px!important;
    font-weight: 600;
    margin-bottom: 5px !important;
}

.cc_dialog .cc_dialog_text{
    font-size: 11px !important;
}

.light.cc_dialog button.cc_b_cp {
    background-color: #eaeaea;
    color: #111;
    margin-top: 12px;
    margin-left: 0px !important;
    width: 100%;
    font-size: 12px;
    padding: 4px;
}


.glider-slide{
    text-align: center!important;
}


.nav-pills .nav-link.active,
.nav-pills .show>.nav-link{
    background: transparent!important;
    border: 1px solid $yellow;
}

.nav-pills .nav-link h3 {
    margin-bottom: 0px!important;
}

.dropdown-item.active, .dropdown-item:active{
    background-color: $yellow!important;
}



.required-field-asterisk{
    color: $yellow;
}
