@import './app';
@import 'article_includeable';
@import 'video_includeable';

.team-member{
  padding: 15px;
  border-radius: 12px;
  border: 1px solid $yellow;

  box-shadow: 0px 0px 12px rgba(0,0,0,0.15);

}


.team-member h1{
  font-size: 25px;
  color: $yellow;
  font-weight: 300;
  margin: 15px 0px;
}


.team-member .team-member-avatar{
  height: 180px;
  width: 180px;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;

}

.team-member .team-member-avatar img{
  width: 180px;
}

.team-member .team-member-bio{
  font-size: 14px;
  color: $darkGrey;
  line-height: 24px;
  padding: 0px 15px;
  overflow: hidden;
}
