@import 'app';
@import 'article_includeable';

.user-area{
  //background:url('bg-login.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.user-box{
    height: 680px;
}

.user-box-inner{
  padding: 15px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0px 0px 12px rgba(0,0,0,0.15);
}
