// Body
$body-bg: #f7f7f7;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #fab417;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$darkGrey: #212529;
$lightGrey: #595959;
$veryLightGrey: #999;

$theme-colors: (
  "warning": #fab417
);

$images-path: '/front/images';
