.video-item {
    width: 100%;
    display: block;
    color: $darkGrey;
    transition: 0.5s all;
    overflow: hidden;
    border-radius: 12px;
    margin-bottom: 15px;
    background: #fff;
    margin: 15px 0px;
}

.video-item:hover {
    color: $lightGrey;
    text-decoration: none;
    background: #fff;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
    color: $yellow!important;
}

.video-item .video-item-header {
    width: 100%;
    height: 180px;
    overflow: hidden;
    margin-bottom: 15px;
}

.video-item .video-item-body {
    width: 100%;

    padding: 0px 10px 5px 10px;
}



.video-item .video-item-body h2 {
    font-size: 16px !important;
    padding: 0px !important;
    font-weight: 700 !important;
    margin: 0px !important;
    text-align: left !important;
    background: #fff !important;
    color: $darkGrey !important;
    margin-top: 15px;

}


.video-item .video-item-body p {
    font-size: 15px;
    margin-bottom: 0px;
}

.video-item .video-item-body span {
    font-size: 13px;
    color: $lightGrey;
}

.video-player {
    height: 80vh;
    width: 100%;
    overflow: hidden;
    text-align: center;
    background: #000;
    position: relative;
}

.video-player video {
    height: 100%;
    width: auto;
    display: inline-block;
}

.video-spechs {
    width: 100%;
}

.video-spechs h1 {
    font-size: 48px;
    font-weight: 700;
    color: $yellow !important;
    margin: 15px 0px 15px 0px;
}

.video-spechs .video-infos {
    font-size: 13px;
    color: $lightGrey;
}

.video-spechs .video-subtitle {
    font-size: 13px;
    color: $lightGrey;
    margin: 15px 0px;
}

.video-item-cover-wrapper {
    position: relative;
    height: 180px;
}

.video-item-cover-wrapper .video-item-cover-wrapper-play {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;

    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.55) 100%);
    height: 100%;

    width: 100%;
    padding: 15px;
    color: #fff;
}

.video-item:hover .video-item-cover-wrapper .video-item-cover-wrapper-play {
    display: flex;
}
